body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    width: 405px;
    background-color: rgb(226, 134, 134);
}

/* alligning buttons and textbox */

.allign {
    position: relative;
    left: 25%;
}

/* positioning the text box */

#save-btn {
    position: relative;
    top: 31px;
    left: -35px;
}

#list-of-leads {
    position: relative;
    top: 45px;
}

p {
    padding-bottom: 30px;
}